body {
    background-color: hsl(30, 38%, 92%);
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textCard {
    background-color: hsl(0, 0%, 100%);
}

.buttonCart {
    background-color: hsl(158, 36%, 37%);
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices {
    display: flex;
    align-items: center;
}

.price1, .price2 {
    margin: 5px;
}

.price1 {
    color: hsl(158, 36%, 37%);
}

.price2 {
    text-decoration: line-through;
}

img {
    width: 400px;
}