.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart {
    background-color: green;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    width: 400px;
}